    <div id="input">
        
    <form>
      <label for="X">X co-ordinate:</label>
      <input type="text" id="x" name="x"><br><br>
      <label for="Y">Y co-ordinate:</label>
      
      <input type="text" id="y" name="y"><br><br>
      <input type="button" value="Create point" id="btn">
     
        <p id="maxYX">(max X = 575, max y = 464)</p>
    
    </div>
